extends common/layout

block content
  main
  section.steps
    .container__steps
      .container__steps__heading
        p.container__steps__heading__text How Dreamshare works?
      .container__steps__step
        .container__steps__step__wrap-text
          p.container__steps__step__text STEP 1
        p.container__steps__step__text_heading Sed leo enim, condimentum
        p.container__steps__step__text_regular
          | Quisque libero libero, dictum non turpis in, luctus
          | semper lorem. Donec rhoncus a leo sit amet facilisis.
      .container__steps__step
        .container__steps__step__wrap-text
          p.container__steps__step__text STEP 2
        p.container__steps__step__text_heading Morbi velit risus
        p.container__steps__step__text_regular
          | Nulla venenatis tempor dui in molestie. Nulla quis
          | dictum purus, sit amet porttitor est.
      .container__steps__step
        .container__steps__step__wrap-text
          p.container__steps__step__text STEP 3
        p.container__steps__step__text_heading Sed leo enim, condimentum
        p.container__steps__step__text_regular
          | Quisque libero libero, dictum non turpis in, luctus
          | semper lorem. Donec rhoncus a leo sit amet facilisis.
  section.peoples
    .peoples-container
      .peoples-container__heading
        h1 Meet a partner for your best holiday
      .peoples-container__people
        .peoples-container__people__face_1
          .peoples-container__people__face__logo_1
        h2.peoples-container__people__text__heading Bradley Hunter
        p.peoples-container__people__text__regular
          | Based in Chicago. I love playing tennis and loud
          | music.
      .peoples-container__people
        .peoples-container__people__face_2
          .peoples-container__people__face__logo_2
        h2.peoples-container__people__text__heading Diana Wells
        p.peoples-container__people__text__regular
          | Living in Athens, Greece. I love black and white
          | classics, chillout music and green tea.
      .peoples-container__people
        .peoples-container__people__face_3
          .peoples-container__people__face__logo_3
        h2.peoples-container__people__text__heading Marie Bennett
        p.peoples-container__people__text__regular
          | Currently living in Colorado. Lover of art,
          | languages and travelling.
      .peoples-container__people
        .peoples-container__people__face_4
          .peoples-container__people__face__logo_4
        h2.peoples-container__people__text__heading Christopher Pierce
        p.peoples-container__people__text__regular
          | Star Wars fanatic. I have a persistent
          | enthusiasm to create new things
      .peoples-container__button
        a.peoples-container__button_link(href='#') See other partners
  section.photos
    .photos-wrap
      .photos-wrap__heading
        h3 Discover holiday activity ideas
      .photos-wrap__photo
        p.photos-wrap__photo__text Sports and Activis
      .photos-wrap__photo
        p.photos-wrap__photo__text Wellness and Health
      .photos-wrap__photo
        p.photos-wrap__photo__text
          | Extreme Sports
          | and Expeditions
      .photos-wrap__photo
        p.photos-wrap__photo__text Games
      .photos-wrap__photo
        p.photos-wrap__photo__text Culture and Education
      .photos-wrap__photo
        p.photos-wrap__photo__text Enjomet and Relaxation
      .photos-wrap__photo
        p.photos-wrap__photo__text Trevelling
  section.search
    .search__container
      .search__container__text
        h2 Crate your holiday activity
        p Hi! What are your holiday interests?
      form.search__container__form
        input(type='text' placeholder=' Enter your insterests')
        button(type='submit') Search partners
  hr
