footer
  .footer__container
    h2 DREAMSHARE
    p Company
    .footer__container__text
      a(href='#') About
      a(href='#') Contact
      a(href='#') Press
      a(href='#') Blog
      a(href='#') Terms and Privacy 
      a(href='#') Help
    p Partners
    .footer__container__logo
      h3 DESIGNED BY
      .footer__container__logo__photo