header
  .header-container
    .header-container__menu
      p.header-container__menu__logo DREAMSHARE
      .header-container__menu__buttons
        a.header-container__menu__button(href='#') Log in
        .header-container__menu_lined
          a.header-container__menu__button(href='#') Sign up
    .header-container__textbox
      p.header-container__textbox__text_logo DREAMSHARE
      p.header-container__textbox__text_heading
        | SHARE YOUR
        | HOLIDAY DREAM
      p.header-container__textbox__text
        | And find the perfect partner to fullfill it
      .header-container__textbox__link
        a.header-container__textbox__text_link(href='#') Find your holiday partner
